.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(0deg, #592092, #29296f);
  color: white;
  padding: 20px 0;
}

.event-widget {
  border: solid white 1px;
  padding: 15px 20px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  flex-grow: 1;
}

.event-widget:focus,
.event-widget:hover {
  box-shadow: 0 0 5px 3px white, 0 0 5px 3px white inset;
  border: none;
  cursor: pointer;
  outline: none;
}

.event-tag {
  border: solid 1px;
  border-radius: 20px;
  padding: 1px 12px;
  font-size: 14px;
}

.event-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.event-modal-content {
  background-color: #fff;
  padding: 40px;
  max-width: 400px;
  width: 80%;
  text-align: left;
  color: #47149a;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.white-button {
  font-size: 17px;
  background: transparent;
  border: 1px white solid;
  cursor: pointer;
  font-family: inherit;
  padding: 5px 15px;
  cursor: pointer;
  color: white;
}

.white-button:hover,
.white-button:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 5px 3px white, 0 0 5px 1px white inset;
}

.purple-button {
  font-size: 17px;
  background: transparent;
  border: 1px #47149a solid;
  cursor: pointer;
  font-family: inherit;
  padding: 5px 15px;
  cursor: pointer;
  color: #47149a;
}

.purple-button:hover,
.purple-button:focus {
  background-color: #29296f;
  color: white;
  border-color: white;
  outline: none;
}

.underlined-button {
  background-color: transparent;
  color: inherit;
  text-decoration: underline;
  width: "max-content";
  border-color: transparent;
  font-family: inherit;
  margin: 5px 0;
  padding: 0;
  font-size: 15px;
  cursor: pointer;
}

.outlined-input {
  background-color: transparent;
  box-shadow: none;
  height: 20px;
  border: white solid 1px;
  width: 200px;
  min-width: 300px;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 5px;
}

.search-box {
  background-color: transparent;
  box-shadow: none;
  height: 20px;
  border-color: transparent;
  border-bottom: white solid 1px;
  width: 30%;
  min-width: 250px;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background-image: url("/public/icons/search_icon.svg");
  background-position: 0px -1px;
  background-repeat: no-repeat;
  padding-left: 30px;
}

.search-box::placeholder {
  color: white;
}

.search-box:focus {
  outline: none;
}
